/* Container */
.container-tuotet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  width: 100%;
  max-width: 996px;
  gap: 8px;
}

.title-wrapper {
  text-align: center;
  text-transform: uppercase;
}

.pics-wrapper {
  display: grid;
  place-items: center;
}

.img-wrapper {
  border: 2px solid rgb(14, 14, 13);
  margin-bottom: 32px;
}

.img-wrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

@media (min-width: 576px) {
  .pics-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
}
